body {
  @apply font-sans;
}

.workspace {
  display: flex;
}

.left-bar-div {
  background-color: #87909D;
  height: auto;
  margin: 0.4rem;
  margin-left: 0rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.canvas-div {
  margin: 0;
  padding: 0;
}

.tabs-div {
  margin: 0;
  padding: 0;
}

.workspace-section {
  margin: 0;
  padding: 0;
}