/* General container styling */
.processNameContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 1rem;
}

.label {
	font-size: 1rem;
	font-weight: bold;
	color: #333;
	margin: 0;
	padding: 0;
	margin-right: 0.5rem;
	padding-left: 1rem;
}

.input {
	padding: 0.5rem;
	margin: 0;
	margin-left: 0.3rem;
	border: 1px solid transparent;
	border-radius: 0.5rem;
	font-size: 1rem;
	min-width: 10rem;
	max-width: 100%;
	box-sizing: border-box;
	transition: border 0.3s ease;
	background: transparent;
}

.input:focus {
	border-color: gray;
	outline: none;
}

.input:hover {
	border-color: gray;
}

.checkbox {
	appearance: none;
	width: 1rem;
	height: 1rem;
	border: 2px solid orange;
	border-radius: 0.25rem;
	display: inline-block;
	position: relative;
	transition: background-color 0.3s ease, border-color 0.3s ease;
	margin-right: 0.5rem;
}

.checkbox:checked {
	background-color: orange;
	border-color: orange;
}

.checkbox:checked::after {
	content: "";
	position: absolute;
	top: 0.1rem;
	left: 0.25rem;
	width: 0.25rem;
	height: 0.5rem;
	border: solid white;
	border-width: 0 0.1rem 0.1rem 0;
	transform: rotate(45deg);
}

.probabilityContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: auto;
	padding: 1rem 0;
	padding-left: 1rem;
}

.checkBoxContainer {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.sliderContainer {
	width: 100%;
	margin-top: 0.5rem;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 0.25rem; /* Thinner line */
	border-radius: 0.25rem;
	background: black; /* Black background color */
	outline: none;
	transition: background 0.3s ease;
}

.slider:disabled {
	background: darkgray; /* Dark gray when disabled */
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1rem;
	height: 1rem;
	margin-top: -0.375rem; /* Center the thumb */
	border-radius: 50%;
	background: orange;
	cursor: grab;
	transition: background 0.3s ease;
}

.slider:disabled::-webkit-slider-thumb {
	background: #b0b0b0;
	cursor: not-allowed;
}
.slider::-moz-range-thumb {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background: orange;
	cursor: grab;
	transition: background 0.3s ease;
}

.slider:disabled::-moz-range-thumb {
	background: #b0b0b0;
	cursor: not-allowed;
}

.slider:hover {
	background: #d0d0d0;
}

.slider:disabled:hover {
	background: #e0e0e0;
}

.slider::-webkit-slider-thumb:hover {
	background: darkorange;
}

.slider:disabled::-webkit-slider-thumb:hover {
	background: #b0b0b0;
}

.slider::-moz-range-thumb:hover {
	background: darkorange;
}

.slider:disabled::-moz-range-thumb:hover {
	background: #b0b0b0;
}

.slider::-webkit-slider-runnable-track {
	width: 100%;
	height: 0.25rem; /* Thinner line */
	border-radius: 0.25rem;
	background: black; /* Black background color */
}

.slider:disabled::-webkit-slider-runnable-track {
	background: darkgray; /* Dark gray when disabled */
}

.slider::-moz-range-track {
	width: 100%;
	height: 0.25rem; /* Thinner line */
	border-radius: 0.25rem;
	background: black; /* Black background color */
}

.slider:disabled::-moz-range-track {
	background: darkgray; /* Dark gray when disabled */
}

.performanceMetrics {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-left: 1.3rem;
	padding-right: 1.3rem;
	padding-top: 1rem;
}

.metric {
	display: flex;
	flex-direction: column;
}

.metric label {
	font-size: 1rem;
	font-weight: bold;
	color: #333;
	padding: 0;
	margin: 0;
}

.progressBar {
	width: 100%;
	height: 1rem;
	border: 1px solid lightgray;
	border-radius: 0.5rem;
	background-color: white;
	overflow: hidden;
}

.progressBar::-webkit-progress-value {
	background-color: orange;
	transition: width 0.3s ease;
}

.progressBar::-moz-progress-bar {
	background-color: orange;
	transition: width 0.3s ease;
}

hr.my-2 {
	border: 1px solid #333;
	margin: 0;
	padding: 0;
}

/* Collapsible sections */
.collapsibleSection {
	margin-bottom: 0.3rem;
}

.collapsibleButton {
	border: none;
	padding: 0.2rem 1rem;
	margin: 0;
	color: #333;
	cursor: pointer;
	width: 100%;
	text-align: left;
	transition: color 0.3s ease;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.collapsibleButton:hover {
	color: orange;
}

.collapsibleButton:hover .dropdownIcon {
	filter: invert(42%) sepia(100%) saturate(1000%) hue-rotate(330deg)
		brightness(100%) contrast(100%);
}

.collapsibleButton:hover .dropdownIconExpanded {
	filter: invert(42%) sepia(100%) saturate(1000%) hue-rotate(330deg)
		brightness(100%) contrast(100%);
}

.collapsibleContent {
	padding: 0;
	display: block;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.collapsibleContent.show {
	padding: 0 1rem;
	max-height: 500px; /* Adjust this value based on your content's maximum height */
	transition: max-height 0.3s ease-in, padding 0.3s ease-in;
}

.collapsibleButton .dropdownIcon {
	transition: transform 0.3s ease;
}
.collapsibleButton .dropdownIconExpanded {
	transform: rotate(180deg);
}

.variantsContainer {
	padding: 1rem 0;
}
.searchSortContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.searchSortContainer .input {
	border: 1px solid rgb(147, 147, 147);
}

.sortButtonContainer {
	position: relative;
}

.sortButton {
	border: none;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	font-weight: bold;
	color: #333;
	cursor: pointer;
	border-radius: 0.5rem;
	transition: color 0.3s ease;
}

.sortButton:hover {
	color: orange;
}

.sortMenu {
	position: absolute;
	font-size: 0.7rem;
	top: 100%;
	left: 0;
	background-color: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px); /* Add this line for Safari support */
	z-index: 1;
	border: 1px solid gray;
	border-radius: 0.5rem;
}

.sortMenu button {
	border: none;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	color: #333;
	cursor: pointer;
	width: 100%;
	text-align: left;
	transition: color 0.3s ease;
}

.sortMenu button:hover {
	color: orange;
}

.variantsListContainer {
	max-height: 200px;
	max-width: 100%; /* Set max width to default space inside the control bar */
	overflow-y: auto;
	border: 1px solid lightgray;
	border-radius: 0.5rem;
	padding: 0.5rem;
	white-space: nowrap; /* Prevent horizontal expansion */
}

.variantsListContainer::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.variantsListContainer::-webkit-scrollbar-thumb {
	background-color: orange;
	border-radius: 0.25rem;
}

.variantsListContainer::-webkit-scrollbar-track {
	background-color: #f1f1f1;
	border-radius: 0.25rem;
}

.variantItem {
	padding-top: 1rem;
	border-bottom: 1px solid lightgray;
	cursor: pointer;
}

.variantItem:last-child {
	border-bottom: none;
}

.variantName {
	font-size: 1rem;
	font-weight: bold;
	color: #333;
}

.variantSupport {
	color: gray;
	font-size: small;
}
