/* Checkbox styling */
.checkbox {
	margin-right: 0.5rem;
	transform: scale(1.2);
}

label {
	display: flex;
	align-items: center;
	font-size: 1.1rem;
	color: black;
	cursor: pointer;
}

label:hover {
	color: #fff;
}

/* Slider container styling */
.slidecontainer {
	width: 100%;
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Slider styling */
.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 80%;
	height: 0.4rem;
	background: black;
	outline: none;
	opacity: 0.7;
	transition: opacity 0.2s;
	border-radius: 5px;
	cursor: pointer;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1.2rem;
	height: 1.2rem;
	background: #fff;
	border-radius: 50%;
	cursor: pointer;
	border: 2px solid black;
	transition: background-color 0.3s;
}

.slider::-webkit-slider-thumb:hover {
	background-color: white;
}

.slider::-moz-range-thumb {
	width: 1.2rem;
	height: 1.2rem;
	background: #fff;
	border-radius: 50%;
	cursor: pointer;
	border: 2px solid gray;
	transition: background-color 0.3s;
}

.slider::-moz-range-thumb:hover {
	background-color: #eee;
}

/* Probability text styling */
.slidecontainer p {
	color: black;
	font-size: 1.1rem;
	margin-bottom: 0.5rem;
}

.processNameContainer {
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 20px 0;
	font-family: Arial, sans-serif;
}

.label {
	font-weight: bold;
	font-size: 1rem;
	color: #333;
}

.input {
	padding: 8px 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 1rem;
	outline: none;
	transition: border-color 0.3s;
}

.input:focus {
	border-color: #007bff;
	box-shadow: 0 0 3px rgba(0, 123, 255, 0.25);
}

.processNameContainer label {
	margin-right: 10px;
}
