/* Reset default link styles inside the dropdown */
.header-dropdown-menu a {
	color: inherit;
	text-decoration: none;
	display: flex; /* Ensure links behave like block-level elements */
	width: 100%; /* Ensure the links take the full width of their container */
	max-width: 200px; /* Set a maximum width for the links */
	overflow: hidden; /* Hide overflowed text */
	white-space: nowrap; /* Prevent text wrapping */
	text-overflow: ellipsis; /* Add ellipsis for overflowed text */
	align-items: center;
	gap: 0.5rem; /* Space between the image and text */
}

.header-custom-matrix-item a{
	max-width: 150px;
}

/* Other existing styles */
.header-dropdown-button {
	background-color: none;
	color: #333;
	font-size: 16px;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0.25rem 0.5rem; /* Adjust padding to size the button based on text */
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.header-checkbox {
	appearance: none;
	width: 1rem;
	height: 1rem;
	border: 2px solid orange;
	border-radius: 0.25rem;
	display: inline-block;
	position: relative;
	transition: background-color 0.3s ease, border-color 0.3s ease;
	margin-right: 0.5rem;
}

.header-checkbox:checked {
	background-color: orange;
	border-color: orange;
}

.header-checkbox:checked::after {
	content: "";
	position: absolute;
	top: 0.1rem;
	left: 0.25rem;
	width: 0.25rem;
	height: 0.5rem;
	border: solid white;
	border-width: 0 0.1rem 0.1rem 0;
	transform: rotate(45deg);
}

.header-dropdown-button:hover {
	color: orange;
	background-color: none;
	transform: scale(1.05);
}

/* Custom styles for the dropdown menu */
.header-dropdown-menu {
	color: #333;
	position: absolute;
	padding: 0.5rem;
	z-index: 10;
	width: 14rem; /* Dropdown menu width */
	margin-top: 0.5rem;
	border-radius: 0.5rem; /* rounded-md */
	background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
	backdrop-filter: blur(5px); /* Blur effect */
	border: 1px solid gray;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.1s ease-out, opacity 0.1s ease-out;
	display: block; /* Ensure the dropdown itself is block-level */
	transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Apply the fadeOut animation when the dropdown menu is unfocused */
.header-dropdown-menu:unfocus {
	animation: fadeOut 0.3s forwards;
}

/* Style the add matrix button like a dropdown-menu a just it is centered in the middle */
.header-dropdown-menu .addMatrixButton {
	color: inherit;
	text-decoration: none;
	display: block; /* Ensure links behave like block-level elements */
	width: 100%; /* Ensure the links take the full width of their container */
	text-align: center; /* Center the text inside the button */
	margin: 0 auto; /* Center the button itself */
}

.header-notavailable-label {
	color: gray;
	font-size: 0.75rem;
	text-align: center;
}

/* Ensure each menu item is displayed as a block and takes up full width */
.header-dropdown-menu-item {
	text-align: left;
	cursor: pointer;
	padding: 0.5rem 1rem; /* Padding for better spacing */
	display: block; /* Display items as block-level elements */
	max-width: 50px;
	box-sizing: border-box; /* Prevent padding from overflowing */
	font-size: 18px;
	font-weight: bold;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.deleteMatrixButton {
	border-radius: 4px;
	margin-left: 6px; /* Adds more space from text */
	margin-bottom: 0px;
	padding: 1px;
	cursor: pointer;
	transition: background-color 0.3s ease, border-color 0.3s ease;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.uploadLogButton {
	border-radius: 4px;
	margin-left: 6px; /* Adds more space from text */
	margin-bottom: 0px;
	padding: 1px;
	cursor: pointer;
	transition: background-color 0.3s ease, border-color 0.3s ease;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

/* Hover effect for menu items */
.header-dropdown-menu-item:hover {
	background-color: #f0f0f0; /* bg-gray-100 */
	transform: scale(1.05);
}

/* Styling for the nav container to align items horizontally */
nav {
	display: flex;
	flex-direction: row;
	justify-content: start; /* Align items at the start of the nav */
	align-items: center;
	gap: 0.5rem; /* Space between menu buttons */
	padding-left: 1rem;
}

header {
	background-color: lightgray;
	color: #000000;
	margin: 0rem;
	border: none;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease, color 0.3s ease;
}

.header-my-2 {
	border: 1px solid #333;
	margin: 0;
	padding: 0;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

/* Keyframes for the disappearing animation */
@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0.95);
	}
}

/* Flex container for matrix items */
.matrix-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-dropdown-menu img {
    width: 20px; /* Adjust the size of the icons as needed */
    height: 20px;
}
