.canvas-container {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border: 1px solid grey;
}

.canvas-popover {
	position: absolute;
	padding: 0.5rem;
	z-index: 999;
	width: 14rem;
	border-radius: 0.5rem;
	background-color: rgba(255, 255, 255, 0.33);
	backdrop-filter: blur(5px);
	border: 1px solid gray;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	transition: transform 0.1s ease-out, opacity 0.1s ease-out;
	
}

.canvas-popover p {
	margin: 0;
	padding: 0;
	font-size: 1rem;
}

.canvas-popover button {
	background-color: orange;
	color: white;
	border: none;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.canvas-label {
	display: flex;
	justify-content: space-between;
	margin-top: 0.3rem;
}

.canvas-popover button:hover {
	background-color: rgb(214, 139, 0);
}

.canvas-popover input[type="text"] {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
}

.canvas-popover progress {
	width: 100%;
	height: 1rem;
	border-radius: 0.25rem;
	overflow: hidden;
}

.canvas {
	width: 100%;
	height: 100%;
}
