.canvas-container {
    width: 80vw;
    height: 85vh; /* Set height to 85% of the viewport height */
    overflow: auto;
    margin: 10px;
    border: 1px solid grey;
}

.canvas-content {
    width: 3000px;
    height: 3000px;
    overflow: hidden;
}

.popover {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1000;
}
